src/main/mule/auto.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2ad50afe-7277-4940-bdd8-bb227dc80776" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="autoFlow" doc:id="ef750669-6cf6-4627-b274-215596fd7ec0" >
		<http:listener doc:name="Listener" doc:id="16b7c2fd-5dbf-4a7c-bb71-fba68d1e37ba" config-ref="HTTP_Listener_config" path="/tzgrgr"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="85263973-569b-46f5-9788-c357ae77072a" />
		<set-payload value='#["ovo je promjena!"jhkjhčuhgiuzčgizčgflzgf7zgiuz]' doc:name="Set Payload" doc:id="5fe2d2de-c169-4ca5-b12d-dd18eee5c548" />
	</flow>
</mule>
